.working-hours {
  &__title {
  }
}

.hours-list {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;

  &__item {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hours-item {
  text-align: center;

  flex-shrink: 0;

  padding: 0.5rem;

  &__text {
  }

  &_active {
    border: 2px solid $brand-success;
  }
}
