.restaurant-preview {
  text-align: center;

  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;
  overflow: hidden;

  height: 400px;

  box-shadow: 0 0 0 0 $gray-base;

  transform: scale(1);
  transition: all 0.25s ease;

  &:after {
    content: '';
    background-color: rgba($gray-dark, 0.7);

    position: absolute;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 0 $gray-base;

    transform: scale(1.03);
  }

  .star-rating {
    &__item {
      font-size: 4rem;
    }
  }
}

.preview-info {
  color: $gray-light;

  position: relative;
  overflow: hidden;

  height: 380px;
  z-index: 1;

  box-shadow: 0 0 0 $brand-primary;

  transition: all 0.25s ease;

  img {
    height: 260px;
  }

  &__title {
    white-space: nowrap;

    margin-top: 0;
    margin-bottom: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px $brand-primary;
  }

}
