@import "variables";

body {
  font-family: 'Ubuntu', sans-serif;
}

.panel-heading {
  &_header {
    margin-top: 0;
  }
}

blockquote footer {
  color: $brand-primary;

  &:before {
    content: '';
  }
}
