@import '../../styles/variables';

.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: 100%;

    margin-bottom: 3rem;
  }
}

@media (min-width: $screen-md-min){
  .restaurant-list {

    &__item {
      flex-basis: 31%;
    }
  }
}
